.wp-block-create-block-callout-block {
    // border-radius: 25px;
    background-color: #012739;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &.is-style-horizontal{
        .callout-cta{
            flex-direction: column;
            justify-content: center;
            @media all and (min-width: 540px) {
                flex-direction: row;
                font-size: 28px;
                margin-bottom: 10px;
            }
            .button-container{
                @media all and (min-width: 540px) {
                margin-left: 20px;
                }
                p{
                    @media all and (min-width: 540px) {
                    margin-bottom: 0;
                    }
                }
            }
        }
        .body-container{
            display: flex;
            flex-direction: column;
            flex: 1;
            @media all and (min-width: 540px) {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: left;
            }
            h2{
                flex: 1;
            }
            p{
                flex: 1.5;
            }
        }
    }

    .callout-cta {
        box-sizing: border-box;
        width: 100%;
        // border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        color: white;
        position: relative;
        text-align: center;
        @media all and (min-width: 540px) {
        max-width: 980px;
        margin: auto;
        }
        // &:after {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     right: 0;
        //     left: 0;
        //     background-color: black;
        //     opacity: 0.1;
        //     // border-radius: 25px;
        //     z-index: 0;
        // }

        h2 {
            z-index: 1;
            font-size: 45px;
            font-family: "Gilroy-Bold";
            margin-top: 0;
            color: #fff;
            margin-bottom: 20px;
            @media all and (min-width: 540px) {
                margin-bottom: 0px;
            }

            @media (min-width: 850px) and (max-width: 1000px) {
                font-size: 40px;
            }

            @media (min-width: 540px) and (max-width: 850px) {
                font-size: 35px;
                margin-bottom: 10px;
            }

            @media all and (max-width: 540px) {
                font-size: 28px;
                margin-bottom: 10px;
            }
        }

        p {
            z-index: 1;
            font-size: 17px;
            line-height: 23px;
            font-family: "Roboto", sans-serif;
              margin-top: 0;
            @media all and (min-width: 540px) {
              margin-bottom: 0;
            }
        }

        .wp-block-button {
            // width: 100%;
            // max-width: 350px;
            + .wp-block-button{
                .wp-block-button__link{
                    margin-top: 15px;
                    @media all and (min-width: 540px) {
                        margin-top: 0;
                    }
                }
            }
        }

        .button-container{
            display: flex;
            flex-direction: column;
            @media all and (min-width: 540px) {
            flex-direction: row;
                margin-top: 0;
            }
            .wp-block-button{
                + .wp-block-button{
                    @media all and (min-width: 540px) {
                    margin-left: 20px;
                    }
                }
            }
        }

        .wp-block-button__link {
            position: relative;
            z-index: 1;
            // width: 100%;
            // max-width: 350px;
            text-align: center;
            text-decoration: none;
            font-family: "Gilroy-Bold";

            background-color: transparent;
            border: 3px solid white;
            margin-left: auto;
            margin-right: auto;
            // width: 100%;
            // max-width: 350px;
            color: white;
            padding: 15px 30px;
            border-radius: 8px;
            text-transform: uppercase;
            font-size: 14px;
            transition: all ease 200ms;
            font-weight: bold;

            &:hover,
            &:focus {
                cursor: pointer;
                background-color: white;
                color: #1f677a;
            }
        }

        @media all and (max-width: 720px) {
            padding: 40px 10px 40px;
        }

        @media (min-width: 720px) and (max-width: 850px) {
            padding: 70px 20px 70px;
        }

        @media all and (min-width: 850px) {
            padding: 130px 20px 130px;
        }
    }
}



